include *.txt
include *.md
recursive-include pics *.png
include LICENSE
include logo.png

recursive-include docs *.rst

graft recitale/themes

prune example
exclude example
prune containers
exclude containers
