include *.txt
include *.md
recursive-include pics *.png
include tox.ini
include LICENSE
include logo.png
include .coveragerc

recursive-include docs *.rst

graft recitale/themes

prune example
exclude example
prune containers
exclude containers
