/* Montserrat: sans-serif header font */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Crimson: serif regular font */
@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-semibold-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-semibold-webfont.woff') format('woff'),
         url('../fonts/crimsontext-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-bold-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-bold-webfont.woff') format('woff'),
         url('../fonts/crimsontext-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-regular-webfont.woff') format('woff'),
         url('../fonts/crimsontext-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: url('../fonts/crimsontext-italic-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-italic-webfont.woff') format('woff'),
         url('../fonts/crimsontext-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
